body, #heroCard {
	margin: 0px;
	padding: 0px;
}

#personalBoardState {
	position: absolute;
	top: 0px;
	height: 55%;
	width: 100%;
}

#hand {
	height: 45%;
	margin: 0px;
	padding: 0px;
	position: absolute;
	bottom: 0px;
	width: 100%;
	border-top: 2px solid black;
	text-align: center;
}

.handCards {
	height: 90%;
	padding-left: 5px;
	padding-right: 5px;
	position: relative;
	top: 5%;
}

#heroCard, #gameMetrics, #stack, #aces{
	float: left;
	height: 100%;
	margin-right: 1%;
}

#gameMetrics p {
	padding: 0px;
	margin: 0px;
	display: inline-table;
	line-height: 0.9;
}

#hpContainer, #deckContainer, #trashContainer{
	position: relative;
}

.contextMenu {
	position: absolute;
	visibility: hidden;
}

#numCards {
	margin-bottom: 5%;
	width: 3em;
}

.popup {
	border: 3px solid #646464;
	background-color: #c8c8c8;
	top: 35%;
	left: 50%;
	text-align: center;
}

.revealedOptions {
	
}

@media only screen and (min-height: 20px) {
	#gameMetrics p {
		font-size: 20pt;
		border-bottom: 1px solid black;
	}

	#hpContainer {
		top: 0%;
	}

	#deckContainer {
		top: 5%;
	}

	#trashContainer {
		top: 10%;
	}
}

@media only screen and (min-height: 300px) {
	#gameMetrics p {
		font-size: 30pt;
		border-bottom: 3px solid black;
	}

	#hpContainer {
		top: 0%;
	}

	#deckContainer {
		top: 15%;
	}

	#trashContainer {
		top: 30%;
	}
}

@media only screen and (min-height: 600px) {
	#gameMetrics p {
		font-size: 40pt;
		border-bottom: 5px solid black;
	}

	#hpContainer {
		top: 2%;
	}

	#deckContainer {
		top: 27%;
	}

	#trashContainer {
		top: 52%;
	}
}